/* Write your CSS code here */
.order {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.order1 {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px;
  padding: 30px;
}

.img {
  height: 30px;
  width: 30px;
}

.head {
  margin-bottom: 200px;
}

.nav-link {
  margin-left: 20px;
  color: #12022f;
  font-weight: bold;
  text-decoration: none;
  font-size: 26px;
}
